name: 'build-test'
on: # rebuild any PRs and main branch changes
  pull_request:
  push:
    branches:
      - main
      - 'releases/*'

jobs:
  build: # make sure build/ci work properly
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3.1.0
      - name: Install Node
        uses: actions/setup-node@v3
        with:
          node-version-file: '.node-version'
          cache: 'npm'
      - name: Install dependencies
        run: npm ci
      - name: Check Typescript
        uses: EPMatt/reviewdog-action-tsc@v1
        with:
          reporter: ${{ github.event_name != 'pull_request' && 'github-check' || 'github-pr-review' }}
      - name: Check ESLint
        uses: reviewdog/action-eslint@v1
        with:
          reporter: ${{ github.event_name != 'pull_request' && 'github-check' || 'github-pr-review' }}
      - name: Run Unit Tests
        run: npm run test
